<div class="container">

  <form [formGroup]="formulario" (ngSubmit)="newNotifications()">
    <div class="form-group">
      <label for="content">content</label>
      <input type="text" class="form-control" formControlName="content" placeholder="content">
    </div>
    <div class="form-group">
      <label for="subject">subject</label>
      <input type="text" class="form-control" formControlName="subject" placeholder="subject">
    </div>
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="name">
    </div>
    <div class="form-group">
      <label for="status">status</label>
      <input type="text" class="form-control" formControlName="status" placeholder="status">
    </div>
    <input type="submit" class="forsubmit" value="Enviar">
  </form>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="type">type</label>
        <select [(ngModel)]="type" class="form-select">
          <option value="status">status</option>
          <option value="subject">subject</option>
          <option value="name">name</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="parametro">parametro</label>
        <input type="text" class="form-control" [(ngModel)]="parametro">
      </div>
    </div>
    <div class="col-md-4">
      <button (click)="getNotifications()">buscar</button>
    </div>
  </div>

  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">status</th>
        <th scope="col">subject</th>
        <th scope="col">name</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of datas">
        <td>{{data.status}}</td>
        <td>{{data.subject}}</td>
        <td>{{data.name}}</td>
        <td><button (click)="deleteNotifications(data.id)">Apagar</button></td>
      </tr>
    </tbody>
  </table>

  
</div>